<!DOCTYPE html>
{% extends 'app_one/extend.html' %}
{% load static %}

{% block body_block %}


			<!-- Banner -->
            <section id="banner">
                <header>
                        <iframe
                        src=""
                        name="targetframe"
                        allowTransparency="true"
                        scrolling="no"
                        frameborder="0"
                        >
                        </iframe>
                    <h2>Pro-Tone: <em>the next Edtech idea technology to boost the libyan education </em></h2>
                    <a href="#" class="button">Learn More</a>
                </header>
            </section>

        <!-- Highlights -->
            <section class="wrapper style1">
                <div class="container">
                    <div class="row gtr-200">
                        <section class="col-4 col-12-narrower">
                            <div class="box highlight">
                                <i class="icon solid major fa-paper-plane"></i>
                                <h3>هذا مهم</h3>
                                <p>القرايا مهمه ياعرب</p>
                            </div>
                        </section>
                        <section class="col-4 col-12-narrower">
                            <div class="box highlight">
                                <i class="icon solid major fa-pencil-alt"></i>
                                <h3>هذا ايضا مهم</h3>
                                <p>تطبيق لخذيته في القرايا</p>
                            </div>
                        </section>
                        <section class="col-4 col-12-narrower">
                            <div class="box highlight">
                                <i class="icon solid major fa-wrench"></i>
                                <h3>اهم حاجه</h3>
                                <p>فلوس  مهمات</p>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

        <!-- Gigantic Heading -->
            <section class="wrapper style2">
                <div class="container">
                    <header class="major">
                        <h2>هاذي ضفتها توا تقدر تضيف فيها شي حاجه</h2>
                        <p>وهنا تقدر تضيف اضافه على اضافه لدرتها</p>
                    </header>
                </div>
            </section>

        <!-- Posts -->
            <section class="wrapper style1">
                <div class="container">
                    <div class="row">
                        <section class="col-6 col-12-narrower">
                            <div class="box post">
                                <a href="#" class="image left"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                                <div class="inner">
                                    <h3>أول حاجه</h3>
                                    <p>مافيش حاجه </p>
                                </div>
                            </div>
                        </section>
                        <section class="col-6 col-12-narrower">
                            <div class="box post">
                                <a href="#" class="image left"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
                                <div class="inner">
                                    <h3>ثاني حاجه</h3>
                                    <p>برضو مافيش</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col-6 col-12-narrower">
                            <div class="box post">
                                <a href="#" class="image left"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
                                <div class="inner">
                                    <h3>ثالث حاجه</h3>
                                    <p>Dتتوقعش حاجه </p>
                                </div>
                            </div>
                        </section>
                        <section class="col-6 col-12-narrower">
                            <div class="box post">
                                <a href="#" class="image left"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
                                <div class="inner">
                                    <h3>رابع والاخيره</h3>
                                    <p>مافيش ايضا</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

        <!-- CTA -->
            <section id="cta" class="wrapper style3">
                <div class="container">
                    <header>
                        <h2>هل أنت جاهز لإكمال رحلتك ؟</h2>
                        <a href="#" class="button">أضغط هنا!</a>
                    </header>
                </div>
            </section>







{% endblock  %}




